body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECF3FA;
	
}
*{
	touch-action: none;
}
.detailCon {
    padding: 0 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.billItem {
    width: 100%;
    margin: 10px 0;
    padding: 10px 10px 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
}

.itemChild {
    width: 100%;
    padding: 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
}

.itemChild:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ECECEC;
}

.itemChild .title {
    display: inline-block;
    width: 160px;
    font-size: 15px;
}

.itemChild .content {
    display: inline-block;
    max-width: 500px;
    text-align: right;
    color: #999;
    font-size: 14px;
}