.header-title-common {
	width: 100px;
	height: 38px;
	border-radius: 3px;
	padding: 0 5px 0 2px;
	color: #FFFFFF;
	text-align: center;
	line-height: 38px;
	margin-right: 30px;
	cursor: pointer;
}


/*.header-title-common>div {
	position: relative;
	float: left;
	height: 100%;
}

.header-title-common>div:nth-child(1) {
	width: 20px;
	line-height: 20px;
	padding-right: 2px;
	color: #FFFFFF;
}

.header-title-common>div:nth-child(2) {
	width: 100px;
}*/

.header-title-common img {
	float: left;
	height: 18px;
	margin-left: 5px;
	margin-top: 10px;
}

.header-title-common span {
	float: right;
	padding: 0 6px;
	height: 20px;
	width: 21px;
	margin-top: 9px;
	margin-right: 6px;
	background-color: #FFFFFF;
	font-weight: 600;
	line-height: 20px;
	border-radius: 9px;
}

.header-title-waiting {
	background-color: #d9aa32d1;
	border: 1px solid #d9aa32d1;
}

.header-title-waiting:hover {
	box-shadow: 0 0 3px #d9aa32d1;
}

.header-title-finished {
	background-color: #009688;
	border: 1px solid #009688;
}

.header-title-finished:hover {
	box-shadow: 0 0 3px #009688;
}

.header-title-waiting span {
	color: #d9aa32d1;
}

.header-title-finished span{
	color: #009688;
}

.tips-style {
	color: royalblue;
}

.layui-timeline-content {
	padding-left: 35px!important;
}

.timeFinished {
	color: #5FB878;
}

.timeUnfinished {
	color: #C9C9C9;
}

.workSpace-flex {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
	background-color: rgb(242, 242, 242);
}

.workSpace-flex>div {
	width: 48%;
	min-height: 337px;
	background-color: #FFFFFF;
}